/* ----------------Divers---------------- */
html, body {
    width: auto;
    height: auto;
    margin: 25px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 18px;
    font-weight: 500;
}
h3 {
    font-size: 16px;
}
h4 {
    font-weight: 300;
    font-style: bold;
}

/* ----------------header---------------- */
.topmenu ul {
    list-style-type: none;
    display: flex;    
    justify-content: flex-end;  
    justify-content: space-between;  
    page-break-inside: auto;
}
nav a {
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: 2px solid #0065FC; /*pas pris en compte*/
    padding-top: 25px;
}
nav a:visited {
    color: #0065FC;
    text-decoration: none;
    border-top: 2px solid #0065FC;
    padding-top: 25px;
}
li:nth-child(3n) {
    font-weight: bold;
    color: #0065FC;
}
/* ----------------Media responsive---------------- */
@media screen and (max-width: 970px) {
}

/* ----------------Titres, filtres, info---------------- */
.sous-titres {
    margin: 5px 35px 0 35px;
}
#allfilters
{
    width: auto;
}
.filters {
    color: #0065FC;
    font-style: bold;  /* pas pris en compte*/
}
.eco, .family, .romantic, .animals {   
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 0 30px;
}
.eco i, .family i, .romantic i, .animals i {
    width: 35px;
    height: 25px;
    border: none;
    background-color: #DEEBFF;
    border-radius: 50px;
    text-align: center;
    padding-top: 9px;
    color: #0065FC;
}
.eco span, .family span, .romantic span, .animals span
{
    display: flex;
    margin: 0 0 21px -15px;
    padding: 6px 17px 6px 25px;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.eco:hover, .family:hover, .heart:hover, .animals:hover
{
    color: #0065FC; /* pas pris en compte */
}
i#marker.fas.fa-map-marker-alt {    
    background-color: #F2F2F2;
    padding: 12px 15px 15px 15px;    
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.info {
    display: flex;
    justify-content: flex-start;
    margin: 10px 35px 0 35px;
}
#info500 {
    /* flex */
    margin: 0 0 0 10px; /* 8px */
}
/* ----------------Formulaire---------------- */
#button {
    background-color: #0065FC;
    color: white;
    padding: 12px 15px 13px 15px; 
    border: transparent;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-family: 'Raleway';
    font-size: 15px; /* tester en em */
}
.input-field {
    padding: 13px;
    margin-left: -4px;
    margin-right: -4px;
    border: 1px solid #F2F2F2;
}

/* ----------------Parties photos---------------- */
#hebergement {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 910px; /* tester d'autres tailles */
    height: 620px;
    margin: 30px 35px 0 35px;
    border: 5px;
    border-bottom: 2px;
    border-radius: 14px;
}
#hebergement h2 {
    margin: 25px 0 0 25px /* tester autres tailles */
}
#framemini {
    display: flex;
    flex-wrap: wrap;
}
#framemini img {
    width: 250px;
    height: 120px;
    border: 5px solid white;
    border-radius: 14px;
    border-bottom: 85px solid white;
    box-shadow: 5px 5px 19px #909090;
}
#framemini h4 {
    margin: -80px 0 0 15px; /* essayer autre margin */
    font-style: bold;   /* n'est pas pris en compte */
}
#framemini p {
    margin: 7px 0 0 15px;
    font-size: 0.9em;
}
.cannebiere, .hotelport, .mouettes, .hotelmer, .panier, .amina {
    width: 245px;
    height: 130px;
    margin: 30px 15px 80px 30px;  /* essayer autres margin */
}
.cannebiere:hover, .hotelport:hover, .mouettes:hover, .hotelmer:hover, .panier:hover, .amina:hover {
    /* autre possibilité filter: opacity(65%); */
    filter: drop-shadow(4px 4px 8px #909090);
}
/* ----------------Notation---------------- */

.blue {
    color: #0065FC;
}
.grey {
    color: #F2F2F2;
}
#notation {
    margin: 7px 0 0 15px;
}
 
/* ----------------Afficher plus---------------- */
.more a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin: 25px 0 0 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

/* ----------------Footer---------------- */
.footmenu ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}
nav a
{
    text-decoration: none;
    color: #000000;
}
nav a:hover
{
    color: #0065FC;
    text-decoration: none;
    border-top: none;
    padding-top: 25px;
}

/*cadres {
    background-color: #DEEBFF;
}*/