/* ----------------Divers---------------- */
html, body, form {
    height: auto;
    margin: 1%;
    width: 85%;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 1.125em;
    font-weight: 500;
}
h3 {
    font-size: 1em;
}
h4 {
    font-weight: 700;
    font-style: bold;
}
/* ----------------header---------------- */
.logo {
    margin: 0 0 1.3em 1.5em;
}
.topmenu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 73%;
    margin-top: -4%;
}
.topmenu li:nth-child(3n) {
    font-weight: bold;
    color: #0065FC; /* pas pris en compte */
}
nav.topmenu a {
    text-decoration: none;
    color: #000000;
    padding-top: 1.5em;
}
nav a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: 2px solid #0065FC;
}

/* ----------------Media queries / responsive---------------- */
@media screen and (min-width: 300px) and (width: 650px) and (orientation:portrait) {
}

/* ----------------Titres, filtres, info---------------- */
.sous-titres {
    margin: 3.5em 1.7em 0 1.5em;
}
.search h3 {
        margin: 1.5em;
}
.filters {
    display: flex;
    flex-direction: row;
}
.filters a {
    text-decoration: none;
}
/* pas pris en compte */
.filtereco:hover {
    filter: grayscale(1);
}
.allf {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #0065FC;
    margin: 1em;
    min-width: 50em;
}
.allf i {
    width: 2.3em;
    height: 1.58em;
    border: none;
    background-color: #DEEBFF;
    border-radius: 3.5em;
    text-align: center;
    padding-top: 0.56em;
    color: #0065FC;
}
.allf strong {
    margin: 0 0 1.1em -3.2em;
    color: #000000;
    display: flex;
    padding: 6px 20px 6px 30px;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.info { 
    display: flex;
    justify-content: flex-start;
    margin-top: -1.5em;
}
i#icon_i {
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    padding: 7px 12px 7px 12px;  
    color: #0065FC;
    margin-left: 1.5em;
}

/* ----------------Formulaire---------------- */
i#marker {    
    border: 1px solid #f2f2f2; /*pas pris en compte */
    background-color: #F2F2F2;
    padding: 12px 15px 15px 15px;    
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    margin-left: 0.5em;
}
#button {
    background-color: #0065FC;
    color: white;
    padding: 12px 15px 13px 15px; 
    border: transparent;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: bolder;
}
.input-field {
    padding: 13px;
    margin-left: -4px;
    margin-right: -4px;
    border: 1px solid #F2F2F2;
}

/* ----------------Bloc hébergement---------------- */
#titrehebergement {
    margin: 2em 0 0 2em;
}
#hebergement {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 59.1em;
    height: 40.65em;
    border: 5px;
    margin: 2% 0 0 0;
    border-bottom: 2px;
    border-radius: 14px;
}
#framemini {
    display: flex;
    flex-wrap: wrap;
}
#framemini img {
    width: 15.63em;
    height: 7.5em;
    border: 5px solid white;
    border-radius: 14px;
    border-bottom: 5.32em solid white;
    box-shadow: 5px 5px 20px #909090;
    object-fit: cover;
}
#framemini h4 {
    margin: -5em 0 0 1em;
}
#framemini p {
    margin: 0.44em 0 0 1em;
    font-size: 0.9em;
}
.cannebiere, .hotelport, .mouettes, .hotelmer, .panier, .amina {
    height: 8.13em;
    margin: 1.88em 0 5em 2.6em;
}
.cannebiere:hover, .hotelport:hover, .mouettes:hover, .hotelmer:hover, .panier:hover, .amina:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}

/* ----------------Notation---------------- */
.blue {
    color: #0065FC;
}
.grey {
    color: #F2F2F2;
}
.notationH {
    margin: 0.5em 0 0 1em;
}
.notationP {
    margin: 1.87em 0 0 10em; 
}
 
/* ----------------Afficher plus---------------- */
.more a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin: 1.56em 0 0 2.2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

/* ----------------Bloc populaires---------------- */
#popular {
    display: flex;
    background-color: #F2F2F2;
    width: 26em;
    height: 40.625em;
    margin: -39.8em 0 0 61.8em;
    border: 5px;
    border-bottom: 2px;
    border-radius: 13px;
}
.titlepopular {
    display: flex;
    width: 12.5em;
    margin: 1em 0 0 2em;
}
#icon_chart {
    display: flex;
    margin: 2.3em 0 0 15em;
}
.framepop {
    display: flex;
    margin: 6em 0 0 -26em;
    flex-flow: row wrap;
    justify-content: space-around;
}
.framepop img {
    width: 8.75em;
    height: 8.75em;
    border: 5px solid white;
    border-right: 11.56em solid white;
    box-shadow: 5px 5px 20px #afafaf;
    border-radius: 14px;
    object-fit: cover;
}
.framepop h4 {
    margin: -8.75em 0 0 10em;
}
.framepop p {
    margin: 0.9em -3.13em 0 10em;
}
.soleilmatin:hover, .coeureau:hover, .bleublanc:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}
.soleilmatin, .coeureau, .bleublanc {
    width: 18.75em;
    height: 6.25em;
}

/* ----------------Activités---------------- */
#sectionactivities {
    background-color: white;
}
#sectionactivities h1 {
    margin-top: 3%;
}
#activities {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    width: 105%;
}
#activities img {
    object-fit: cover;
    border-bottom: 3.13em solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#vieuxport {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;
}
#pomegues {
    grid-row: 1;
    grid-column: 2;
}
#frioul {
    grid-row: 2;
    grid-column: 2;
    margin-top: -7%;  
}
#calanques {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 3;
}
#damegarde {
    grid-row: 1;
    grid-column: 4;
} 
#longchamp {
    grid-row: 2;
    grid-column: 4;
    margin-top: -13%;
} 
#vieuxport img,#calanques img {
    height: 28.125em;
    width: 20em;
}
#pomegues img {
    height: 12.5em;
    width: 20em;
}
#frioul img {
    height: 9.375em;
    width: 20em;
}
#damegarde img, #longchamp img {
    height: 10.625em;
    width: 20em;
}
#vieuxport h4, #frioul h4, #calanques h4, #longchamp h4 {
    margin: -10% 0 0 5%;
}
#pomegues h4, #damegarde h4 {
    margin: -10% 0 0 5%;
}
#vieuxport:hover, #pomegues:hover, #frioul:hover, #calanques:hover, #damegarde:hover, #longchamp:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}

/* ----------------Footer---------------- */
footer {
    background-color:#F2F2F2;
    height: 15em;
    margin-top: -5%;
    width: 105%;
}
.footmenu {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
}
.footmenu li {
    list-style-type: none;
    padding-top: 1.2em;
}
.footmenu a {
    text-decoration: none;
    color: #000000;
}
.footmenu a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: none;
}

/* code testé sous edge, chrome, firefox et Brave. */