/* ----------------Divers---------------- */
html, body, form {
    width: auto;
    height: auto;
    margin: 25px;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 1.125px;
    font-weight: 500;
}
h3 {
    font-size: 1em;
}
h4 {
    font-weight: 700;
    font-style: bold;
}

/* ----------------header---------------- */
#header {
    margin: 25px;
}
.topmenu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 75%;
}
.topmenu li:nth-child(3n) {
    font-weight: bold;
    color: #0065FC; /* pas pris en compte */
}
nav.topmenu a {
    text-decoration: none;
    color: #000000;
    padding-top: 25px;
}
nav a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: 2px solid #0065FC;
}

/* ----------------Media responsive---------------- */
@media screen and (max-width: 576px) {
}
@media screen (min-width: 577px) and (max-width: 992px) {
}
#blockpage {
    width: 90%;
    margin: auto;
}

/* ----------------Titres, filtres, info---------------- */
.sous-titres {
    margin: 5px 35px 0 25px;
}
#allfilters
{
    width: auto;
    margin: 25px;
}
.filters {
    color: #0065FC;
    margin: 0.1em;
}
.filters a {
    text-decoration: none;
}
.filters a:hover {
    color: #0065FC; /* pas pris en compte */
}
.eco, .family, .romantic, .animals {   
    display: flex;
    justify-content: flex-start;
}
.eco i, .family i, .romantic i, .animals i {
    width: 2.19em;
    height: 1.56em;
    border: none;
    background-color: #DEEBFF;
    border-radius: 50px;
    text-align: center;
    padding-top: 0.56em;
    color: #0065FC;
}
.eco strong, .family strong, .romantic strong, .animals strong {
    margin: 0 0 20px -15px;
    color: #000000;
    display: flex;
    padding: 6px 17px 6px 25px;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
i#marker.fas.fa-map-marker-alt {    
    background-color: #F2F2F2;
    padding: 12px 15px 15px 15px;    
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.info { /* a disparu */
    display: flex;
    justify-content: flex-start;
    margin: -20px 0 0 10px;
}
#icon_i {
    color: #0065FC; /* réduire taille et mettre un border radius et color gris */
}

/* ----------------Formulaire---------------- */
#button {
    background-color: #0065FC;
    color: white;
    padding: 12px 15px 13px 15px; 
    border: transparent;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-family: 'Raleway';
    font-size: 1.0em;
    font-weight: bolder;
}
.input-field {
    padding: 13px;
    margin-left: -4px;
    margin-right: -4px;
    border: 1px solid #F2F2F2;
}

/* ----------------Bloc hébergement---------------- */
#titrehebergement {
    margin: 45px 0 0 35px;
}
#hebergement {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 900px;
    height: 650px;
    border: 5px;
    margin: 6% 0 0 0;
    border-bottom: 2px;
    border-radius: 14px;
}
#framemini {
    display: flex;
    flex-wrap: wrap;
}
#framemini img {
    width: 250px;
    height: 120px;
    border: 5px solid white;
    border-radius: 14px;
    border-bottom: 85px solid white;
    box-shadow: 5px 5px 20px #909090;
}
#framemini h4 {
    margin: -80px 0 0 20px;
}
#framemini p {
    margin: 7px 0 0 20px;
    font-size: 0.9em;
}
.cannebiere, .hotelport, .mouettes, .hotelmer, .panier, .amina { /* utiliser le nom de div supérieure et selecteur commun */
    width: 245px;
    height: 130px;
    margin: 30px 15px 80px 30px;  /* essayer autres margin */
}
.cannebiere:hover, .hotelport:hover, .mouettes:hover, .hotelmer:hover, .panier:hover, .amina:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}

/* ----------------Notation---------------- */
.blue {
    color: #0065FC;
}
.grey {
    color: #F2F2F2;
}
#notation {
    margin: 10px 0px 0 20px; /* pas pris en compte */
}
 
/* ----------------Afficher plus---------------- */
.more a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin: 25px 0 0 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

/* ----------------Bloc populaires---------------- */
#popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    width: 310px;
    height: 710px;
    margin: -633px 0 0 950px;
    border: 5px;
    border-bottom: 2px;
    border-radius: 13px;
}
.titlepopular {
    margin: 30px 0 20px 0;   
}
#icon_chart {
    display: flex;
    margin: -35px 0 20px 350px;
}
.framepop {
    display: flex;
    flex-wrap: wrap ;
}
.framepop img {
    width: 135px;
    height: 140px;
    border: 5px solid white;
    margin: 0 0 0 40px;
    border-right: 195px;
    box-shadow: 5px 5px 20px #afafaf;
    border-radius: 14px;
}
.framepop h4 {
    margin: -130px -20px 0 30px;
}
.framepop p {
    margin: -6px -50px 0 160px;
}
.framepop p:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}
.soleilmatin, .coeureau, .bleublanc {
    width: 270px;
    height: 100px;
    margin: 20px 0 38px 30px;
}

/* ----------------Activités---------------- */
#sectionactivities {
    background-color: white;
}
#activities {
    display: flex;
}
#vieuxport h4 {
    margin: -38px 0 5px 20px;
}
#pomegues h4 {
    margin: -38px 0 5px 10px;
}
#frioul h4 {
    margin: -38px 0 5px 20px;
}
#calanques h4 {
    margin: -38px 0 5px -110px;
}
#damegarde h4 {
    margin: -258px 0 65px 1100px;
} 
#longchamp h4 {
    margin: -108px 0 65px 1100px;
} 
#vieuxport img {
    height: 460px;
    width: 300px;
    margin: 20px 70px 0 0;
    border-bottom: 50px solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#calanques img {
    height: 460px;
    width: 300px;
    margin: 20px 0 0 -135px;
    border-bottom: 50px solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#pomegues img {
    height: 210px;
    width: 300px;
    margin: 20px 70px 0 -15px;
    border-bottom: 50px solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#frioul img {
    height: 150px;
    width: 300px;
    margin: 330px 0 0 -370px;
    border-bottom: 50px solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#damegarde img {
    height: 180px;
    width: 300px;
    margin : 0 35px 0 1035px;
    border-bottom: 50px solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#longchamp img {
    height: 180px;
    width: 300px;
    margin:  -465px 35px 0 1035px;
    border-bottom: 50px solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#vieuxport:hover, #pomegues:hover, #frioul:hover, #calanques:hover, #damegarde:hover, #longchamp:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}

/* ----------------Footer---------------- */
footer {
    list-style-type: none;
    background-color:#F2F2F2;
    width: auto
}
.apropos, .hebergements, .assistance {
    margin: 25px 170px 0 0
}
.footmenu {

    display: flex;
    justify-content: center;
}
.footmenu li {
    margin-bottom: 40px;
    margin-top: 40px;
}
.footmenu a {
    text-decoration: none;
    color: #000000;
}
.footmenu a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: none;
}

/* code testé sous edge, chrome, firefox et Brave. */