/* ----------------Divers---------------- */
html, body {
    height: auto;
    margin-top: 0.5%;
    font-family: 'Raleway', sans-serif;
}
form {
    margin: 0 0 1% 9.5%;
}
h2 {
    font-size: 1.125em;
    font-weight: 500;
}
h3 {
    font-size: 1em;
}
h4 {
    font-weight: 700;
    font-style: bold;
}
#blockpage {
    width: 85%;
}
/* ----------------header---------------- */
.logo {
    margin: 0 0 1.3em 10%;
}
.topmenu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: -3% 0 0 55%;
    max-width: 30%;
}
.topmenu li:nth-child(3n) {
    font-weight: bold;
    color: #0065FC;                 /* nope */
}
nav.topmenu a {
    text-decoration: none;
    color: #000000;
    padding-top: 1.5em;
}
nav a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: 2px solid #0065FC;
}

/* ----------------Media queries / responsive---------------- */
@media screen and (min-width: 200px) and (max-width: 576px) and (orientation:portrait) {
    
        nav a:hover {
            border-top: none;
            border-bottom: 3px solid #0065FC;
        }
        nav li:nth-child(1) {
            margin: 1em 0 0 -3em;
            padding: 0 3em 1.5em 3.6em;
            border-bottom: 4px solid #F2F2F2;
        }
        nav li:nth-child(2) {
            margin: 1em 0 0 -1em;
            padding: 0 4em 1.5em 3em;
            border-bottom: 4px solid #F2F2F2;
        }
        nav li:nth-child(3) {
            margin: -2.5em 10em 0 -6em;
            font-weight: bold;
        }
        .sous-titres h1 {
            padding: -2em 0 0 0.3em;
            font-size: 1.3em;
        }
        .sous-titres h2 {
            padding: 0 0 1em 0.2em;
            font-size: 0.9em;
        }
        #form {
            padding: 2.5em -1em 0 -0.5em; 
        }
        #marker {
            border-top-left-radius: 32px;
            border-bottom-left-radius: 32px;
            padding-top: 1.25em;
        }
        .input-field {
            width: 11em;
            font-size: 0.9em;
        }
        #button {
            width: 2.8em;
            height: 2.8em;
            font-size: 1em;
            border-radius: 13px;
        }
        .filtereco {
            margin: 3em 10em 0 -8em;
        }
        .filterfam {
            margin: 3em 10em 0 -8em;
        }
        .filterrom {
            margin: 7em 32.5em 0 -32.5em;
        }
        .filterani {
            margin: 11em 44em 0 -44em;
        }
        .filtereco i, .filterfam i, .filterrom i, .filterani i { /*pas pris en compte */
            margin: 2em -2em 0 1em;
        }
        .info i {
            margin-top: 3px;
        }
        .info {
            font-size: 1em;
        }
        #hebergement { /* pas pris en compte */
            background-color: transparent;
            margin-bottom: 1em;
        }
        #titrehebergement {
            font-size: 1.3em;
        }
        #framemini {
            flex-direction: column;
            width: 20em;
        }
        #cannebiere img { /* ne prend ni framemini img ni cannebiere img */
            width: 20em;
        }
        .notationH, .notationP {
            font-size: 0.4em; /**/
        }
        #popular {
            margin: -20em 10em 10em -10em;/**/
        }
        .framepop {
            flex-direction: column;
            margin-left: 15px;
        }
        .activitiesfull h3 {
            font-size: 0.5em;
            margin-left: 1em;
        }
        .frioul, .longchamp {
            margin-top: 10em; /**/
        }
        .footmenu
        {
            font-size: 1em;
        }
}

/* ----------------Titres, filtres, info---------------- */
.sous-titres {
    margin: 3.5em 0 1% 10%;
}
.search h3 {
    margin: 1.5em;
}
.filters {
    display: flex;
    flex-direction: row;
    margin-left: 9%;
}
.filters a {
    text-decoration: none;
}
/* pas pris en compte */
.filtereco:hover {
    filter: grayscale(1);
}
.allf {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #0065FC;
    margin-top: 1%;
    min-width: 50em;
}
.allf i {
    width: 2.3em;
    height: 1.58em;
    border: none;
    background-color: #DEEBFF;
    border-radius: 3.5em;
    text-align: center;
    padding-top: 0.56em;
    color: #0065FC;
}
.allf strong {
    margin: 0 0 1.1em -3.2em;
    color: #000000;
    display: flex;
    padding: 6px 20px 6px 30px;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.info { 
    display: flex;
    justify-content: flex-start;
    margin-left: 9%;
}
i#icon_i {
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    padding: 7px 12px 7px 12px;  
    color: #0065FC;
    margin-left: 1.5em;
}

/* ----------------Formulaire---------------- */
i#marker {    
    border: 1px solid #f2f2f2; /*pas pris en compte */
    background-color: #F2F2F2;
    padding: 12px 15px 15px 15px;    
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    margin-left: 0.5em;
}
#button {
    background-color: #0065FC;
    color: white;
    padding: 12px 15px 13px 15px; 
    border: transparent;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: bolder;
}
.input-field {
    padding: 13px;
    margin-left: -4px;
    margin-right: -4px;
    border: 1px solid #F2F2F2;
}

/* ----------------Bloc hébergement---------------- */
#titrehebergement {
    margin: 2em 0 0 2em;
}
#hebergement {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 59.1em;
    height: 40.65em;
    border: 5px;
    margin: 2% auto 0 10%;
    border-bottom: 2px;
    border-radius: 14px;
}
#framemini {
    display: flex;
    flex-wrap: wrap;
}
#framemini img {
    width: 15.63em;
    height: 7.5em;
    border: 5px solid white;
    border-radius: 14px;
    border-bottom: 5.32em solid white;
    box-shadow: 5px 5px 20px #909090;
    object-fit: cover;
}
#framemini h4 {
    margin: -5em 0 0 1em;
}
#framemini p {
    margin: 0.44em 0 0 1em;
    font-size: 0.9em;
}
.cannebiere, .hotelport, .mouettes, .hotelmer, .panier, .amina {
    height: 8.13em;
    margin: 1.88em 0 5em 2.6em;
}
.cannebiere:hover, .hotelport:hover, .mouettes:hover, .hotelmer:hover, .panier:hover, .amina:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}

/* ----------------Notation---------------- */
.blue {
    color: #0065FC;
}
.grey {
    color: #F2F2F2;
}
.notationH {
    margin: 0.5em 0 0 1em;
    font-size: 0.9em;
    font-stretch: ultra-condensed; /* pas pris en compte */
}
.notationP {
    margin: 1.87em 0 0 11em;
    font-size: 0.9em;
    font-stretch: ultra-condensed; /* pas pris en compte */
}
 
/* ----------------Afficher plus---------------- */
.more a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin: 1.56em 0 0 2.2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

/* ----------------Bloc populaires---------------- */
#popular {
    display: flex;
    background-color: #F2F2F2;
    width: 26em;
    height: 40.625em;
    margin: -40.6em 0 0 74em;
    border: 5px;
    border-bottom: 2px;
    border-radius: 13px;
}
.titlepopular {
    margin: 1em 0 0 2em;
}
#icon_chart {
    margin: 2.3em 0 0 13em;
}
.framepop {
    display: flex;
    margin: 6em 0 0 -27em;
    flex-flow: row wrap;
    justify-content: space-around;
}
.framepop img {
    width: 8.75em;
    height: 8.75em;
    border: 5px solid white;
    border-right: 11.56em solid white;
    box-shadow: 5px 5px 20px #afafaf;
    border-radius: 14px;
    object-fit: cover;
}
.framepop h4 {
    margin: -8.75em 0 0 10em;
}
.framepop p {
    margin: 0.9em -3.13em 0 10em;
}
.soleilmatin:hover, .coeureau:hover, .bleublanc:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}
.soleilmatin, .coeureau, .bleublanc {
    width: 18.75em;
    height: 6.25em;
}

/* ----------------Activités---------------- */
#sectionactivities {
    background-color: white;
}
#sectionactivities h1 {
    margin: 3% auto 2% 10%;
}
#activities {
    margin: auto;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;  /* a aggrandir pour taille smartphone */
    grid-template-rows: 50% 50%;
    width: 80%;
}
#activities img {
    object-fit: cover;
    border-bottom: 3.13em solid white;
    box-shadow: 2px 2px 20px #afafaf;
    border-radius: 13px;
}
#vieuxport {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;
}
#pomegues {
    grid-row: 1;
    grid-column: 2;
}
#frioul {
    grid-row: 2;
    grid-column: 2;
    margin-top: -7%;  
}
#calanques {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 3;
}
#damegarde {
    grid-row: 1;
    grid-column: 4;
} 
#longchamp {
    grid-row: 2;
    grid-column: 4;
    margin-top: -13%;
} 
#vieuxport img,#calanques img {
    height: 28.125em;
    width: 20em;
}
#pomegues img {
    height: 12.5em;
    width: 20em;
}
#frioul img {
    height: 9.375em;
    width: 20em;
}
#damegarde img, #longchamp img {
    height: 10.625em;
    width: 20em;
}
#vieuxport h4, #frioul h4, #calanques h4, #longchamp h4 {
    margin: -10% 0 0 5%;
}
#pomegues h4, #damegarde h4 {
    margin: -10% 0 0 5%;
}
#vieuxport:hover, #pomegues:hover, #frioul:hover, #calanques:hover, #damegarde:hover, #longchamp:hover {
    filter: drop-shadow(4px 4px 8px #909090);
}

/* ----------------Footer---------------- */
footer {
    background-color:#F2F2F2;
    height: 15em;  /* allonger pour responsive smartphone */
    width: 85%;
    margin: auto;
    margin-top: -4%;
}
.footmenu {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-left: 1%;
}
.footmenu li {
    list-style-type: none;
    padding-top: 1.2em;
}
.footmenu a {
    text-decoration: none;
    color: #000000;
}
.footmenu a:hover {
    color: #0065FC;
    text-decoration: none;
    border-top: none;
}

/* code testé sous edge, chrome, firefox et Brave. */